<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="PubSubBinding">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <mexTcpBinding>
                <binding name="PubSubMexBinding" />
            </mexTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8989/Level2QuoteService"
                binding="netTcpBinding" bindingConfiguration="PubSubBinding"
                contract="MarketData.IPubSub" name="PubSubEndpoint" kind=""
                endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>